 

<body>
    
    

    <!-- home section is starts -->

     
        <!-- navbar section -->
        <%- include('partial/header.ejs', {data: data }); %>
        <!-- end -->
    
        <!-- home section is starts -->
    
        <section class="home" id="home">
    
            <div class="image">
                <img src="/img/doctor1.gif" alt=""> <!-- image soruce link  https://storyset.com/-->
            </div>
    
            <div class="content">
                <h3> stay safe,stay healthy</h3>
                <br>
                <br>
                <br>
                <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit.  Tenetur eum itaque sint ipsam saepe vel
                    recusandae </h1>
                <a href="#" class="btn"> contact us <span class="fas fa-chevron-right"></span></a>
            </div>
        </section>
        <!-- end -->
    
        <!-- icon section start -->
        <section class="icons-container">
    
            <div class="icons">
                <i class="fas fa-user-md"></i>
                <h3>140+</h3>
                <p>doctors at work</p>
            </div>
    
            <div class="icons">
                <i class="fas fa-users"></i>
                <h3>1040+</h3>
                <p>satisfied patients</p>
            </div>
    
            <div class="icons">
                <i class="fas fa-procedures"></i>
                <h3>500+</h3>
                <p>bed facility</p>
            </div>
    
            <div class="icons">
                <i class="fas fa-hospital"></i>
                <h3>80+</h3>
                <p>available hospitals</p>
            </div>
    
        </section>
        <!-- icons section end -->
    
        <!-- service section is start -->
        <section class="services" id="services">
    
            <h1 class="heading"> our <span> service</span></h1>
    
            <div class="box-container">
    
                <div class="box">
                    <i class="fas fa-notes-medical"></i>
                    <h3>free checkups</h3>
                    <p>"Free checkups" typically refer to medical examinations or consultations provided at no cost to the patient. Here's a basic description of what free checkups entail:</p>
                    <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a> -->
                    <div  >
                        <div class="content">
                          <!-- <h3>Card Title</h3> -->
                          <p>Some description text goes here. This is a sample description for the card. It can be as long or as short as you want.</p>
                        </div>
                        <div class="read-more-content" >
                          <p>Scope of Services:

                            Free checkups often include basic medical examinations and consultations aimed at assessing general health or addressing specific concerns. These may include measurements of vital signs (blood pressure, heart rate), physical examinations, and discussions with healthcare professionals.</p>
                        </div>
                        <div onclick="toggleReadMore(this)"><a  class="btn"> learn more <span class="fas fa-chevron-right"></span></a></div>
                    </div>
                    
                </div>
    
                <div class="box">
                    <i class="fas fa-ambulance"></i>
                    <h3>24/7 ambulance</h3>
                    <p>24/7 Ambulance typically refer to medical examinations or consultations provided at no cost to the patient. Here's a basic description of what free checkups entail:</p>
                    <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a> -->
                    <div >
                        <div class="content">
                          <!-- <h3>Card Title</h3> -->
                          <p>Some description text goes here. This is a sample description for the card. It can be as long or as short as you want.</p>
                        </div>
                        <div class="read-more-content" >
                          <p>Scope of Services:

                            Free checkups often include basic medical examinations and consultations aimed at assessing general health or addressing specific concerns. These may include measurements of vital signs (blood pressure, heart rate), physical examinations, and discussions with healthcare professionals.</p>
                        </div>
                        <div onclick="toggleReadMore(this)"><a  class="btn"> learn more <span class="fas fa-chevron-right"></span></a></div>
                    </div>
                </div>
    
                <div class="box">
                    <i class="fas fa-user-md"></i>
                    <h3>expert doctors</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nobis sapiente ipsa</p>
                    <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a> -->
                    <div >
                        <div class="content">
                          <!-- <h3>Card Title</h3> -->
                          <p>Some description text goes here. This is a sample description for the card. It can be as long or as short as you want.</p>
                        </div>
                        <div class="read-more-content" >
                          <p>Additional details or lengthy description can be added here. This section will be hidden initially and shown when "Read More" is clicked.</p>
                        </div>
                        <div onclick="toggleReadMore(this)"><a  class="btn"> learn more <span class="fas fa-chevron-right"></span></a></div>
                    </div>
                </div>
    
                <div class="box">
                    <i class="fas fa-pills"></i>
                    <h3>medicines</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nobis sapiente ipsa</p>
                    <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a> -->
                    <div  >
                        <div class="content">
                          <!-- <h3>Card Title</h3> -->
                          <p>Some description text goes here. This is a sample description for the card. It can be as long or as short as you want.</p>
                        </div>
                        <div class="read-more-content" >
                          <p>Additional details or lengthy description can be added here. This section will be hidden initially and shown when "Read More" is clicked.</p>
                        </div>
                        <div onclick="toggleReadMore(this)"><a  class="btn"> learn more <span class="fas fa-chevron-right"></span></a></div>
                    </div>
                </div>
    
                <div class="box">
                    <i class="fas fa-procedures"></i>
                    <h3>bed facility</h3>
                    <p>Hospital Bed Types:

                        Standard Beds: Hospitals typically provide standard beds for patients, equipped with adjustable features to accommodate different medical needs. These beds often have adjustable height, head, and foot sections controlled electronically or manually.</p>
                    <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a> -->
                    <div  >
                        <div class="content">
                          <!-- <h3>Card Title</h3> -->
                          <p>Some description text goes here. This is a sample description for the card. It can be as long or as short as you want.</p>
                        </div>
                        <div class="read-more-content" >
                          <p>Scope of Services:

                            Free checkups often include basic medical examinations and consultations aimed at assessing general health or addressing specific concerns. These may include measurements of vital signs (blood pressure, heart rate), physical examinations, and discussions with healthcare professionals..</p>
                        </div>
                        <div onclick="toggleReadMore(this)"><a  class="btn"> learn more <span class="fas fa-chevron-right"></span></a></div>
                    </div>
                </div>
    
                <div class="box">
                    <i class="fas fa-heartbeat"></i>
                    <h3>total care</h3>
                    <p>Total care" in a healthcare context refers to comprehensive and continuous medical attention and support provided to patients who require intensive or extensive care due to their medical condition. Here are some basic descriptions of what "total care" entails:</p>
                    <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a> -->
                    <div  >
                        <div class="content">
                          <!-- <h3>Card Title</h3> -->
                          <p>Some description text goes here. This is a sample description for the card. It can be as long or as short as you want.</p>
                        </div>
                        <div class="read-more-content" >
                          <p>Paracetamol

                            Usage: Paracetamol is a widely used medicine for pain relief and reducing fever.
                            Availability: It is available over-the-counter (OTC) in various forms such as tablets, syrup, and suppositories.
                            Mechanism of Action: Paracetamol works by inhibiting the production of prostaglandins in the brain, which are chemicals that cause pain and fever.
                            It should be taken exactly as prescribed by a healthcare provider to ensure complete treatment of the infection and to prevent the development of antibiotic resistance.</p>
                        </div>
                        <div onclick="toggleReadMore(this)"><a  class="btn"> learn more <span class="fas fa-chevron-right"></span></a></div>
                    </div>
                </div>
    
            </div>
    
        </section>
        <!-- service section is end -->
    
        <!-- Doctors section is start -->
        <section class="doctors" id="doctors">
    
            <h1 class="heading"> our <span>doctors</span></h1>
    
            <div class="box-container">
                <div class="box">
                    <img src="/img/d3.jpg" alt="">
                    <h3>Dr.Priya Singh</h3>
                    <h2>Skin Specialist</h2>
                    <span>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nihil neque consequatur omnis. Sunt dicta quibusdam excepturi, cumque natus odio eos minima vero suscipit, voluptatem harum sit possimus ex quis.</p>
                        
                        expert doctor</span>
                    
                    <div class="share">
                        <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
                        <a href="https://x.com/" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                        <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    </div>
    
                </div>
    
                <div class="box">
                    <img src="/img/d3.jpg" alt="">
                    <h3>Dr.Shubham Singh</h3>
                    <h2>Ent Specialist</h2>
                    <span>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nihil neque consequatur omnis. Sunt dicta quibusdam excepturi, cumque natus odio eos minima vero suscipit, voluptatem harum sit possimus ex quis.</p>
                        
                        expert doctor</span>
                    <div class="share">
                        <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
                        <a href="https://x.com/" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                        <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    </div>
    
                </div>
    
                <div class="box">
                    <img src="/img/d4.jpg" alt="">
                    
                    <h3>Dr.Harshit Tripathi</h3>
                    <h2>Dentist Specialist</h2>
                    <span>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nihil neque consequatur omnis. Sunt dicta quibusdam excepturi, cumque natus odio eos minima vero suscipit, voluptatem harum sit possimus ex quis.</p>
                        
                        expert doctor</span>
                    <div class="share">
                        <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
                        <a href="https://x.com/" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                        <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    </div>
    
                </div>
    
                <div class="box">
                    <img src="/img/d3.jpg" alt="">
                    
                    <h3>Dr.Awnish Singh</h3>
                    <h2>Heart Specialist</h2>
                    <span>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nihil neque consequatur omnis. Sunt dicta quibusdam excepturi, cumque natus odio eos minima vero suscipit, voluptatem harum sit possimus ex quis.</p>
                        
                        expert doctor</span>
                    <div class="share">
                        <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
                        <a href="https://x.com/" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                        <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    </div>
    
                </div>
    
                <div class="box">
                    <img src="/img/d4.jpg" alt="">
                    <h3>Dr.Suahan</h3>
                    <h2>Lung Specialist</h2>
                    <span>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nihil neque consequatur omnis. Sunt dicta quibusdam excepturi, cumque natus odio eos minima vero suscipit, voluptatem harum sit possimus ex quis.</p>
                        
                        expert doctor</span>
                    <div class="share">
                        <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
                        <a href="https://x.com/" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                        <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    </div>
    
                </div>
    
                <div class="box">
                    <img src="/img/d3.jpg" alt="">
                    <h3>Dr.Pankaj Singh</h3>
                    <h2>Neuro Specialist</h2>
                    <span>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nihil neque consequatur omnis. Sunt dicta quibusdam excepturi, cumque natus odio eos minima vero suscipit, voluptatem harum sit possimus ex quis.</p>
                        
                        expert doctor</span>
                    <div class="share">
                        <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
                        <a href="https://x.com/" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                        <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    </div>
    
                </div>
    
            </div>
            
    
        </section>
        <!-- Doctors section is end -->
        
    
    
    
    
    
        <!-- js link -->
        <script src="script.js"></script>
        <script>
            function toggleReadMore(element) {
    var card = element.parentElement;
    var content = card.querySelector('.content');
    var readMoreContent = card.querySelector('.read-more-content');
    var toggleButton = card.querySelector('.read-more-toggle');

    if (readMoreContent.style.display === 'none') {
      readMoreContent.style.display = 'block';
      toggleButton.textContent = 'Read Less';
      content.style.maxHeight = content.scrollHeight + 'px';
    } else {
      readMoreContent.style.display = 'none';
      toggleButton.textContent = 'Read More';
    //   content.style.maxHeight = '100px'; // Adjust this to match the initial height of .content
    }
  }
    




        </script>
    </body>
    
    </html>

    <!-- js link -->
    <script src="/js/script.js"></script>
    
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
<%- include('partial/footer.ejs'); %>

</html>